* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', cursive;
}

body {
    width: 90%;
    height: 100vh;
    background-color: #021b52;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    width: 100%;
    height: 70px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
}

.formulario input {
    width: 100%;
    height: 100%;
    background: none;
    color: #fff;
    padding-top: 20px;
    border: none;
    outline: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
}

.formulario .nombre {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #c7c7c7;
}

.formulario .nombre:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid black;
    transform: translateX(-100%);
    transition: all 0.5s ease;
}

.text-nombre {
    font-size: 22px;
    position: absolute;
    bottom: 1px;
    left: 0;
    transition: all .5s ease;
    color: black;
}

.formulario input:focus+.nombre .text-nombre,
.formulario input:valid+.nombre .text-nombre {
    transform: translateY(-150%);
    transition: all .5s ease;
    color: #ececec;
    font-size: 16px;
}

.formulario input:focus+.nombre:after,
.formulario input:valid+.nombre:after {
    transform: translateX(0%);
}